* {
    margin: 0;
    padding: 0;
    font-family: montserrat;
    box-sizing: border-box;
}
/* NAV BAR */
.mynavcontainer {
    padding: 10px 10px;
    /* margin-right: 10px; */
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
}
.mylogo {
    width: 140px;

}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a {
    color: white;
    text-decoration: none;
    position: relative;
}
.login-image {
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 50%;
}
.login-image img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: white 0px 4px 10px;
}
nav ul li a::after {
    content: '';
    position: absolute;
    background: blue;
    width: 0px;
    height: 3px;
    left: 0;
    bottom: -5px;
    transition: .5s;
    }
nav ul li a:hover::after {
    width: 100%;
}
.toggle-btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 2rem;
    display: none;
}
.blog-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
     margin-left: 30px;
    margin-right: 30px; 
    padding-bottom: 50px;
    row-gap: 30px;  
    column-gap: 20px;
    background-color: wheat;
  }
.blog-container {
    background-color: wheat;
  }

.blog-comments {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}
.blog-comments i {
    font-size: 1rem;
}
.blog-comments i:hover {
    color: green;
}
.welcome-text {
    text-align: center;
    background-color: wheat;
    margin-bottom: 20px;
  }
.blog-img {
    object-fit: cover;
}
.blog-img img {
    object-fit: cover;
    max-width: 100%;
}
.blog {
    background-color: white;
    padding: 20px;
    /* margin-top: 10px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin-left: 5px;
    margin-right: 5px;
    /* height: 50%; */
  }

  .blog h2 {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
  }

  .blog p {
    font-size: 16px;
    color: #666;
  }
  .message-popup {
    display: none;
    max-width: 100%;
    margin-top: 10px;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
  }
  .message-popup h2 {
    font-size: 1rem;
  }
  .form-container textarea {
    width: 100%;
    padding: 15px;
    border: none;
    min-height: 100px;
    border-radius: 5px;
  }
  .form-container textarea:focus {
    background-color: rgba(144, 238, 144, .5);
    outline: none;
    border-radius: 5px;
  }
  .form-container label {
    font-weight: bold;
    font-size: 1.5rem;
  }
  .form-container button {
    background-color: rgba(0, 128, 0, .5);
    border: none;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
  }
  .form-container button:hover {
    background-color: rgba(0, 128, 0, .7);
  }
  #closebtn {
    margin-left: 90%;
    width: 10%;
    right: 0;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  #closebtn:hover {
    color: red;
  }
  .addblog-btn {
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .addblog-btn:hover {
    color: white;
    background-color: black;
  }

  .submit-error {
    margin-top: 10px;
    color: red;
    font-size: 1rem;
    
}
.submit-success {
    color: green;
    font-size: 1rem;
    text-align: center;
}




@media screen and (max-width: 768px) {
    nav ul li {
        display: none;
    }
    .toggle-btn {
        display: block;
    }
    .blog-section {
        flex-direction: column;
    }
    .blog {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}
